/* Animations */

.anim {
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.anim:before {
  position: relative;
  content: '';
  display: block;
  margin-top: 100%;
}
.anim:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.clickable:active > .anim {
  animation: anim-out 0.75s;
}

.clickable:active > .anim:after {
  animation: anim-out-pseudo 0.75s;
}

@keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.fadeInDown {
	animation-duration:.803398875s;
	animation-fill-mode:forwards;
	animation-name:fadeInDown;
	transition-timing-function: cubic-bezier(0.33, 0.0, 0.62, 1.0);
	backface-visibility:hidden;
}

@keyframes fadeInDown {
	0% {
		opacity:0;
		transform:translate3d(0,-100px,0);
	}
	10% {
		opacity:calc((1/(1.62*10)));
		transform:translate3d(0,calc((-100/(1.62*1))),0);
	}
	20% {
		transform:translate3d(0,calc((-100/(1.62*2))),0);
		opacity:calc((1/(1.62*9)));
	}
	30% {
		transform:translate3d(0,calc((-100/(1.62*3))),0);
		opacity:calc((1/(1.62*8)));
	}
	40% {
		transform:translate3d(0,calc((-100/(1.62*4))),0);
		opacity:calc((1/(1.62*7)));
	}
	50% {
		transform:translate3d(0,calc((-100/(1.62*5))),0);
	}
	60% {
		transform:translate3d(0,calc((-100/(1.62*6))),0);
	}
	70% {
		transform:translate3d(0,calc((-100/(1.62*7))),0);
	}
	80% {
		transform:translate3d(0,calc((-100/(1.62*8))),0);
	}
	90% {
		transform:translate3d(0,calc((-100/(1.62*9))),0);
	}
	95% {
		transform:translate3d(0,calc((-100/(1.62*10))),0);
	}
	100% {
		opacity:1;
		transform:translate3d(0,0px,0);
	}
}

.fadeIn {
	animation-duration:.803398875s;
	animation-fill-mode:forwards;
	animation-name:fadeIn;
	transition-timing-function: cubic-bezier(0.33, 0.0, 0.62, 1.0);
	backface-visibility:hidden;
}

@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

.shrinkHeight {
	animation-duration:.3398875s;
	animation-fill-mode:forwards;
	animation-name:shrinkHeight;
	transition-timing-function: cubic-bezier(0.33, 0.0, 0.62, 1.0);
	backface-visibility:hidden;
	overflow: hidden;
}

@keyframes shrinkHeight {
	0% {
		max-height:100%;
	}
	100% {
		max-height:0%;
		overflow: hidden;
	}
}

.expandHeight {
	animation-duration:.3398875s;
	animation-fill-mode:forwards;
	animation-name:expandHeight;
	transition-timing-function: cubic-bezier(0.33, 0.0, 0.62, 1.0);
	backface-visibility:hidden;
}

@keyframes expandHeight {
	0% {
		max-height:0%;
		overflow: hidden;
	}
	100% {
		max-height:100%;
	}
}
