/* BLOTR ICON MODS */
.scale.icon,
.scale .icon,
.desktop .on-hover-scale:hover .icon {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	display:block;
}

/* ISON color change */
.ison.like .icon {
	color:#3498db;
}

.ison.reshbtn .icon {
	color:#2c4762;
}

.ison.dislike .icon {
	color:#16A085;
}

.ison.favbtn .icon {
	color:#d95e40;
}

.ison.flagbtn .icon {
	color:red;
}

.inout,
.ison .icon {
	-moz-animation-duration:.4s;
	-moz-animation-name:inout;
	-moz-animation-timing-function:ease;
	-webkit-animation-duration:.4s;
	-webkit-animation-name:inout;
	-webkit-animation-timing-function:ease;
	animation-duration:.4s;
	animation-name:inout;
	animation-timing-function:ease;
}

/* notifications */
.icon.notification_style {
	height: 25px;
	width: 25px;
	background-color:#000;
	border-radius:50%;
	bottom:-8px;
	box-shadow:inset 0 0 0 2px rgba(0,0,0,0.5);
	font-size: 12px;
	font-weight:400;
	left:-8px;
	padding: 4px 5px;
	position:absolute;
	text-shadow:none;
	color:#fff;
	text-align: center;
}

.icon.notification_style.icon-comment {
	background-color:#6668EE;
}

.icon.notification_style.icon-group {
	background-color:#FC284F;
}

.icon.notification_style.icon-heart {
	background-color:#d95e40;
}

.icon.notification_style.icon-thumbs-up {
	background-color:#1abc9c;
}

/* animations */
.icon-spin,
.desktop .icon-hover-spin:hover{
	-moz-animation:spin 2s infinite linear;
	-webkit-animation:spin 2s infinite linear;
	animation:spin 2s infinite linear;
	border-color:transparent;
}

/* KEYFRAMES */
@-webkit-keyframes inout {
	0% {
		-webkit-transform:scale(1);
	}

	100% {
		-webkit-transform:scale(1);
	}

	50% {
		-webkit-transform:scale(1.5);
	}
}

@keyframes inout {
	0% {
		transform:scale(1);
	}

	100% {
		transform:scale(1);
	}

	50% {
		transform:scale(1.5);
	}
}


@font-face {
  font-family: 'lnkit';
  src: url('../styles/font/lnkit.eot');
  src: url('../styles/font/lnkit.eot') format('embedded-opentype'),
       url('../styles/font/lnkit.woff') format('woff'),
       url('../styles/font/lnkit.ttf') format('truetype'),
       url('../styles/font/lnkit.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	font-family:lnkit;
	font-style:normal;
	font-weight:400;
	user-select:text;
	-webkit-transition:-webkit-transform .3s ease-in;
	transition:transform .3s ease ease-in;
}

.icon-2x-hover:hover
.icon-2x {
	font-size:2em;
}

.icon-3x {
	font-size:3em;
}

.icon-4x {
	font-size:4em;
}

.icon-5x {
	font-size:5em;
}

.icon-fw {
	text-align:center;
	width:1.2857142857143em;
}

.icon-icon {
	font-size:14px;
	margin-right:5px;
	padding-right:2px;
	text-align:center;
	width: 20px;
	display: block;
	float: left;
}

.icon-lg {
	font-size:1.3333333333333em;
	line-height:.75em;
	vertical-align:-15%;
}

.icon-normal.icon-icon {
	font-size:18px;
}

.icon-srt:before {
	margin-right:5px;
}

.icon-rotate-90 {
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.icon-rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-rotate-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.icon-flip-horizontal {
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-vertical {
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .icon-rotate-90,
:root .icon-rotate-180,
:root .icon-rotate-270,
:root .icon-flip-horizontal,
:root .icon-flip-vertical {
  filter: none;
}

@-moz-keyframes spin {
	0% {
		-moz-transform:rotate(0deg);
	}

	100% {
		-moz-transform:rotate(359deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform:rotate(0deg);
	}

	100% {
		-webkit-transform:rotate(359deg);
	}
}

@keyframes spin {
	0% {
		transform:rotate(0deg);
	}

	100% {
		transform:rotate(359deg);
	}
}


.icon-fire:before { content: '\e800'; } /* '' */
.icon-spin1:before { content: '\e801'; } /* '' */
.icon-spin2:before { content: '\e802'; } /* '' */
.icon-spin3:before { content: '\e803'; } /* '' */
.icon-spin4:before { content: '\e804'; } /* '' */
.icon-spin5:before { content: '\e805'; } /* '' */
.icon-spin6:before { content: '\e806'; } /* '' */
.icon-firefox:before { content: '\e807'; } /* '' */
.icon-chrome:before { content: '\e808'; } /* '' */
.icon-opera:before { content: '\e809'; } /* '' */
.icon-ie:before { content: '\e80a'; } /* '' */
.icon-crown:before { content: '\e80b'; } /* '' */
.icon-crown-plus:before { content: '\e80c'; } /* '' */
.icon-crown-minus:before { content: '\e80d'; } /* '' */
.icon-marquee:before { content: '\e80e'; } /* '' */
.icon-emo-wink:before { content: '\e80f'; } /* '' */
.icon-emo-wink2:before { content: '\e810'; } /* '' */
.icon-emo-happy:before { content: '\e811'; } /* '' */
.icon-emo-unhappy:before { content: '\e812'; } /* '' */
.icon-emo-sleep:before { content: '\e813'; } /* '' */
.icon-emo-thumbsup:before { content: '\e814'; } /* '' */
.icon-emo-devil:before { content: '\e815'; } /* '' */
.icon-emo-surprised:before { content: '\e816'; } /* '' */
.icon-emo-tongue:before { content: '\e817'; } /* '' */
.icon-emo-coffee:before { content: '\e818'; } /* '' */
.icon-emo-sunglasses:before { content: '\e819'; } /* '' */
.icon-emo-beer:before { content: '\e81a'; } /* '' */
.icon-emo-displeased:before { content: '\e81b'; } /* '' */
.icon-emo-grin:before { content: '\e81c'; } /* '' */
.icon-emo-angry:before { content: '\e81d'; } /* '' */
.icon-emo-saint:before { content: '\e81e'; } /* '' */
.icon-emo-cry:before { content: '\e81f'; } /* '' */
.icon-emo-shoot:before { content: '\e820'; } /* '' */
.icon-emo-squint:before { content: '\e821'; } /* '' */
.icon-emo-laugh:before { content: '\e822'; } /* '' */
.icon-mail:before { content: '\e823'; } /* '' */
.icon-mail-1:before { content: '\e824'; } /* '' */
.icon-trash:before { content: '\e825'; } /* '' */
.icon-trash-1:before { content: '\e826'; } /* '' */
.icon-trash-empty:before { content: '\e827'; } /* '' */
.icon-user-pair:before { content: '\e828'; } /* '' */
.icon-user-woman:before { content: '\e829'; } /* '' */
.icon-user:before { content: '\e82a'; } /* '' */
.icon-wrench:before { content: '\e82b'; } /* '' */
.icon-eye:before { content: '\e82c'; } /* '' */
.icon-search:before { content: '\e82d'; } /* '' */
.icon-heart:before { content: '\e82e'; } /* '' */
.icon-star:before { content: '\e82f'; } /* '' */
.icon-mail-2:before { content: '\e830'; } /* '' */
.icon-camera:before { content: '\e831'; } /* '' */
.icon-volume-off:before { content: '\e832'; } /* '' */
.icon-volume-down:before { content: '\e833'; } /* '' */
.icon-volume-up:before { content: '\e834'; } /* '' */
.icon-signal:before { content: '\e835'; } /* '' */
.icon-at:before { content: '\e836'; } /* '' */
.icon-compass:before { content: '\e837'; } /* '' */
.icon-cw-circled:before { content: '\e838'; } /* '' */
.icon-cw:before { content: '\e839'; } /* '' */
.icon-play:before { content: '\e83a'; } /* '' */
.icon-play-circled:before { content: '\e83b'; } /* '' */
.icon-play-circled2:before { content: '\e83c'; } /* '' */
.icon-stop:before { content: '\e83d'; } /* '' */
.icon-stop-circled:before { content: '\e83e'; } /* '' */
.icon-pause:before { content: '\e83f'; } /* '' */
.icon-pause-circled:before { content: '\e840'; } /* '' */
.icon-record:before { content: '\e841'; } /* '' */
.icon-eject:before { content: '\e842'; } /* '' */
.icon-backward:before { content: '\e843'; } /* '' */
.icon-backward-circled:before { content: '\e844'; } /* '' */
.icon-folder-empty:before { content: '\e845'; } /* '' */
.icon-folder-open-empty:before { content: '\e846'; } /* '' */
.icon-box:before { content: '\e847'; } /* '' */
.icon-rss:before { content: '\e848'; } /* '' */
.icon-rss-squared:before { content: '\e849'; } /* '' */
.icon-fast-backward:before { content: '\e84a'; } /* '' */
.icon-off:before { content: '\e84b'; } /* '' */
.icon-qrcode:before { content: '\e84c'; } /* '' */
.icon-barcode:before { content: '\e84d'; } /* '' */
.icon-arrows-cw:before { content: '\e84e'; } /* '' */
.icon-glasses:before { content: '\e84f'; } /* '' */
.icon-fire-1:before { content: '\e850'; } /* '' */
.icon-magnet:before { content: '\e851'; } /* '' */
.icon-eye-1:before { content: '\e852'; } /* '' */
.icon-eye-off:before { content: '\e853'; } /* '' */
.icon-file-pdf:before { content: '\e854'; } /* '' */
.icon-file-word:before { content: '\e855'; } /* '' */
.icon-file-excel:before { content: '\e856'; } /* '' */
.icon-file-powerpoint:before { content: '\e857'; } /* '' */
.icon-file-image:before { content: '\e858'; } /* '' */
.icon-file-archive:before { content: '\e859'; } /* '' */
.icon-file-audio:before { content: '\e85a'; } /* '' */
.icon-file-video:before { content: '\e85b'; } /* '' */
.icon-file-code:before { content: '\e85c'; } /* '' */
.icon-folder:before { content: '\e85d'; } /* '' */
.icon-folder-open:before { content: '\e85e'; } /* '' */
.icon-mute:before { content: '\e85f'; } /* '' */
.icon-mic:before { content: '\e860'; } /* '' */
.icon-calendar:before { content: '\e861'; } /* '' */
.icon-calendar-empty:before { content: '\e862'; } /* '' */
.icon-chat-empty:before { content: '\e863'; } /* '' */
.icon-comment-empty:before { content: '\e864'; } /* '' */
.icon-chat:before { content: '\e865'; } /* '' */
.icon-comment:before { content: '\e866'; } /* '' */
.icon-gamepad:before { content: '\e867'; } /* '' */
.icon-keyboard:before { content: '\e868'; } /* '' */
.icon-doc:before { content: '\e869'; } /* '' */
.icon-docs:before { content: '\e86a'; } /* '' */
.icon-doc-text:before { content: '\e86b'; } /* '' */
.icon-doc-inv:before { content: '\e86c'; } /* '' */
.icon-doc-text-inv:before { content: '\e86d'; } /* '' */
.icon-attach:before { content: '\e86e'; } /* '' */
.icon-lock:before { content: '\e86f'; } /* '' */
.icon-lock-open:before { content: '\e870'; } /* '' */
.icon-lock-open-alt:before { content: '\e871'; } /* '' */
.icon-pin:before { content: '\e872'; } /* '' */
.icon-sliders:before { content: '\e873'; } /* '' */
.icon-wrench-1:before { content: '\e874'; } /* '' */
.icon-cog-alt:before { content: '\e875'; } /* '' */
.icon-cog:before { content: '\e876'; } /* '' */
.icon-basket:before { content: '\e877'; } /* '' */
.icon-camera-1:before { content: '\e878'; } /* '' */
.icon-camera-alt:before { content: '\e879'; } /* '' */
.icon-th-large:before { content: '\e87a'; } /* '' */
.icon-th:before { content: '\e87b'; } /* '' */
.icon-th-list:before { content: '\e87c'; } /* '' */
.icon-ok:before { content: '\e87d'; } /* '' */
.icon-ok-circled:before { content: '\e87e'; } /* '' */
.icon-ok-circled2:before { content: '\e87f'; } /* '' */
.icon-ok-squared:before { content: '\e880'; } /* '' */
.icon-cancel:before { content: '\e881'; } /* '' */
.icon-cancel-circled:before { content: '\e882'; } /* '' */
.icon-cancel-circled2:before { content: '\e883'; } /* '' */
.icon-plus:before { content: '\e884'; } /* '' */
.icon-plus-circled:before { content: '\e885'; } /* '' */
.icon-plus-squared:before { content: '\e886'; } /* '' */
.icon-plus-squared-alt:before { content: '\e887'; } /* '' */
.icon-minus:before { content: '\e888'; } /* '' */
.icon-minus-circled:before { content: '\e889'; } /* '' */
.icon-minus-squared:before { content: '\e88a'; } /* '' */
.icon-minus-squared-alt:before { content: '\e88b'; } /* '' */
.icon-help:before { content: '\e88c'; } /* '' */
.icon-help-circled:before { content: '\e88d'; } /* '' */
.icon-info-circled:before { content: '\e88e'; } /* '' */
.icon-info:before { content: '\e88f'; } /* '' */
.icon-print:before { content: '\e890'; } /* '' */
.icon-link:before { content: '\e891'; } /* '' */
.icon-unlink:before { content: '\e892'; } /* '' */
.icon-link-ext:before { content: '\e893'; } /* '' */
.icon-link-ext-alt:before { content: '\e894'; } /* '' */
.icon-retweet:before { content: '\e895'; } /* '' */
.icon-bell:before { content: '\e896'; } /* '' */
.icon-bell-alt:before { content: '\e897'; } /* '' */
.icon-bell-off:before { content: '\e898'; } /* '' */
.icon-share:before { content: '\e899'; } /* '' */
.icon-export-alt:before { content: '\e89a'; } /* '' */
.icon-export:before { content: '\e89b'; } /* '' */
.icon-code:before { content: '\e89c'; } /* '' */
.icon-quote-left:before { content: '\e89d'; } /* '' */
.icon-quote-right:before { content: '\e89e'; } /* '' */
.icon-thumbs-up:before { content: '\e89f'; } /* '' */
.icon-thumbs-down:before { content: '\e8a0'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e8a1'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e8a2'; } /* '' */
.icon-download:before { content: '\e8a3'; } /* '' */
.icon-upload:before { content: '\e8a4'; } /* '' */
.icon-download-cloud:before { content: '\e8a5'; } /* '' */
.icon-reply:before { content: '\e8a6'; } /* '' */
.icon-upload-cloud:before { content: '\e8a7'; } /* '' */
.icon-reply-all:before { content: '\e8a8'; } /* '' */
.icon-forward-1:before { content: '\e8a9'; } /* '' */
.icon-flag:before { content: '\e8aa'; } /* '' */
.icon-flag-empty:before { content: '\e8ab'; } /* '' */
.icon-flag-checkered:before { content: '\e8ac'; } /* '' */
.icon-pencil:before { content: '\e8ad'; } /* '' */
.icon-pencil-squared:before { content: '\e8ae'; } /* '' */
.icon-edit:before { content: '\e8af'; } /* '' */
.icon-bell-off-empty:before { content: '\e8b0'; } /* '' */
.icon-attention-alt:before { content: '\e8b1'; } /* '' */
.icon-attention:before { content: '\e8b2'; } /* '' */
.icon-attention-circled:before { content: '\e8b3'; } /* '' */
.icon-location:before { content: '\e8b4'; } /* '' */
.icon-lightbulb:before { content: '\e8b5'; } /* '' */
.icon-block:before { content: '\e8b6'; } /* '' */
.icon-resize-full:before { content: '\e8b7'; } /* '' */
.icon-resize-full-alt:before { content: '\e8b8'; } /* '' */
.icon-resize-small:before { content: '\e8b9'; } /* '' */
.icon-compass-1:before { content: '\e8ba'; } /* '' */
.icon-direction:before { content: '\e8bb'; } /* '' */
.icon-volume-off-1:before { content: '\e8bc'; } /* '' */
.icon-volume-down-1:before { content: '\e8bd'; } /* '' */
.icon-volume-up-1:before { content: '\e8be'; } /* '' */
.icon-resize-vertical:before { content: '\e8bf'; } /* '' */
.icon-resize-horizontal:before { content: '\e8c0'; } /* '' */
.icon-move:before { content: '\e8c1'; } /* '' */
.icon-signal-1:before { content: '\e8c2'; } /* '' */
.icon-wifi:before { content: '\e8c3'; } /* '' */
.icon-shuffle:before { content: '\e8c4'; } /* '' */
.icon-exchange:before { content: '\e8c5'; } /* '' */
.icon-history:before { content: '\e8c6'; } /* '' */
.icon-award:before { content: '\e8c7'; } /* '' */
.icon-desktop:before { content: '\e8c8'; } /* '' */
.icon-laptop:before { content: '\e8c9'; } /* '' */
.icon-tablet:before { content: '\e8ca'; } /* '' */
.icon-mobile:before { content: '\e8cb'; } /* '' */
.icon-inbox:before { content: '\e8cc'; } /* '' */
.icon-globe:before { content: '\e8cd'; } /* '' */
.icon-sun:before { content: '\e8ce'; } /* '' */
.icon-cloud:before { content: '\e8cf'; } /* '' */
.icon-flash:before { content: '\e8d0'; } /* '' */
.icon-moon:before { content: '\e8d1'; } /* '' */
.icon-umbrella:before { content: '\e8d2'; } /* '' */
.icon-flight:before { content: '\e8d3'; } /* '' */
.icon-fighter-jet:before { content: '\e8d4'; } /* '' */
.icon-paper-plane:before { content: '\e8d5'; } /* '' */
.icon-paper-plane-empty:before { content: '\e8d6'; } /* '' */
.icon-space-shuttle:before { content: '\e8d7'; } /* '' */
.icon-leaf:before { content: '\e8d8'; } /* '' */
.icon-cw-1:before { content: '\e8d9'; } /* '' */
.icon-ccw:before { content: '\e8da'; } /* '' */
.icon-arrows-cw-1:before { content: '\e8db'; } /* '' */
.icon-level-up:before { content: '\e8dc'; } /* '' */
.icon-level-down:before { content: '\e8dd'; } /* '' */
.icon-target:before { content: '\e8de'; } /* '' */
.icon-angle-circled-left:before { content: '\e8df'; } /* '' */
.icon-angle-circled-right:before { content: '\e8e0'; } /* '' */
.icon-angle-circled-up:before { content: '\e8e1'; } /* '' */
.icon-angle-circled-down:before { content: '\e8e2'; } /* '' */
.icon-left:before { content: '\e8e3'; } /* '' */
.icon-angle-double-left:before { content: '\e8e4'; } /* '' */
.icon-angle-double-right:before { content: '\e8e5'; } /* '' */
.icon-angle-double-up:before { content: '\e8e6'; } /* '' */
.icon-angle-double-down:before { content: '\e8e7'; } /* '' */
.icon-down:before { content: '\e8e8'; } /* '' */
.icon-right:before { content: '\e8e9'; } /* '' */
.icon-up:before { content: '\e8ea'; } /* '' */
.icon-down-big:before { content: '\e8eb'; } /* '' */
.icon-left-big:before { content: '\e8ec'; } /* '' */
.icon-up-dir:before { content: '\e8ed'; } /* '' */
.icon-left-dir:before { content: '\e8ee'; } /* '' */
.icon-right-dir:before { content: '\e8ef'; } /* '' */
.icon-down-open:before { content: '\e8f0'; } /* '' */
.icon-left-open:before { content: '\e8f1'; } /* '' */
.icon-right-open:before { content: '\e8f2'; } /* '' */
.icon-up-open:before { content: '\e8f3'; } /* '' */
.icon-angle-left:before { content: '\e8f4'; } /* '' */
.icon-angle-right:before { content: '\e8f5'; } /* '' */
.icon-angle-up:before { content: '\e8f6'; } /* '' */
.icon-angle-down:before { content: '\e8f7'; } /* '' */
.icon-right-big:before { content: '\e8f8'; } /* '' */
.icon-up-big:before { content: '\e8f9'; } /* '' */
.icon-right-hand:before { content: '\e8fa'; } /* '' */
.icon-left-hand:before { content: '\e8fb'; } /* '' */
.icon-up-hand:before { content: '\e8fc'; } /* '' */
.icon-down-hand:before { content: '\e8fd'; } /* '' */
.icon-left-circled:before { content: '\e8fe'; } /* '' */
.icon-right-circled:before { content: '\e8ff'; } /* '' */
.icon-up-circled:before { content: '\e900'; } /* '' */
.icon-down-circled:before { content: '\e901'; } /* '' */
.icon-clock:before { content: '\e902'; } /* '' */
.icon-menu:before { content: '\e903'; } /* '' */
.icon-star-1:before { content: '\e904'; } /* '' */
.icon-star-empty:before { content: '\e905'; } /* '' */
.icon-star-half:before { content: '\e906'; } /* '' */
.icon-expand:before { content: '\e907'; } /* '' */
.icon-collapse:before { content: '\e908'; } /* '' */
.icon-expand-right:before { content: '\e909'; } /* '' */
.icon-collapse-left:before { content: '\e90a'; } /* '' */
.icon-star-half-alt:before { content: '\e90b'; } /* '' */
.icon-user-1:before { content: '\e90c'; } /* '' */
.icon-users:before { content: '\e90d'; } /* '' */
.icon-male:before { content: '\e90e'; } /* '' */
.icon-female:before { content: '\e90f'; } /* '' */
.icon-child:before { content: '\e910'; } /* '' */
.icon-heart-empty:before { content: '\e911'; } /* '' */
.icon-heart-1:before { content: '\e912'; } /* '' */
.icon-glass:before { content: '\e913'; } /* '' */
.icon-music:before { content: '\e914'; } /* '' */
.icon-search-1:before { content: '\e915'; } /* '' */
.icon-video:before { content: '\e916'; } /* '' */
.icon-videocam:before { content: '\e917'; } /* '' */
.icon-picture:before { content: '\e918'; } /* '' */
.icon-down-dir:before { content: '\e919'; } /* '' */
.icon-right-circled2:before { content: '\e91a'; } /* '' */
.icon-left-circled2:before { content: '\e91b'; } /* '' */
.icon-up-circled2:before { content: '\e91c'; } /* '' */
.icon-down-circled2:before { content: '\e91d'; } /* '' */
.icon-font:before { content: '\e91e'; } /* '' */
.icon-bold:before { content: '\e91f'; } /* '' */
.icon-italic:before { content: '\e920'; } /* '' */
.icon-header:before { content: '\e921'; } /* '' */
.icon-paragraph:before { content: '\e922'; } /* '' */
.icon-text-height:before { content: '\e923'; } /* '' */
.icon-text-width:before { content: '\e924'; } /* '' */
.icon-align-left:before { content: '\e925'; } /* '' */
.icon-align-center:before { content: '\e926'; } /* '' */
.icon-align-right:before { content: '\e927'; } /* '' */
.icon-align-justify:before { content: '\e928'; } /* '' */
.icon-list:before { content: '\e929'; } /* '' */
.icon-indent-left:before { content: '\e92a'; } /* '' */
.icon-indent-right:before { content: '\e92b'; } /* '' */
.icon-list-bullet:before { content: '\e92c'; } /* '' */
.icon-list-numbered:before { content: '\e92d'; } /* '' */
.icon-strike:before { content: '\e92e'; } /* '' */
.icon-underline:before { content: '\e92f'; } /* '' */
.icon-superscript:before { content: '\e930'; } /* '' */
.icon-subscript:before { content: '\e931'; } /* '' */
.icon-table:before { content: '\e932'; } /* '' */
.icon-columns:before { content: '\e933'; } /* '' */
.icon-crop:before { content: '\e934'; } /* '' */
.icon-scissors:before { content: '\e935'; } /* '' */
.icon-paste:before { content: '\e936'; } /* '' */
.icon-road:before { content: '\e937'; } /* '' */
.icon-list-alt:before { content: '\e938'; } /* '' */
.icon-qrcode-1:before { content: '\e939'; } /* '' */
.icon-barcode-1:before { content: '\e93a'; } /* '' */
.icon-book:before { content: '\e93b'; } /* '' */
.icon-ajust:before { content: '\e93c'; } /* '' */
.icon-tint:before { content: '\e93d'; } /* '' */
.icon-toggle-off:before { content: '\e93e'; } /* '' */
.icon-toggle-on:before { content: '\e93f'; } /* '' */
.icon-check:before { content: '\e940'; } /* '' */
.icon-briefcase:before { content: '\e941'; } /* '' */
.icon-suitcase:before { content: '\e942'; } /* '' */
.icon-ellipsis:before { content: '\e943'; } /* '' */
.icon-ellipsis-vert:before { content: '\e944'; } /* '' */
.icon-chart-bar:before { content: '\e945'; } /* '' */
.icon-chart-area:before { content: '\e946'; } /* '' */
.icon-chart-pie:before { content: '\e947'; } /* '' */
.icon-chart-line:before { content: '\e948'; } /* '' */
.icon-ticket:before { content: '\e949'; } /* '' */
.icon-check-empty:before { content: '\e94a'; } /* '' */
.icon-circle:before { content: '\e94b'; } /* '' */
.icon-circle-empty:before { content: '\e94c'; } /* '' */
.icon-circle-thin:before { content: '\e94d'; } /* '' */
.icon-circle-notch:before { content: '\e94e'; } /* '' */
.icon-dot-circled:before { content: '\e94f'; } /* '' */
.icon-credit-card:before { content: '\e950'; } /* '' */
.icon-floppy:before { content: '\e951'; } /* '' */
.icon-megaphone:before { content: '\e952'; } /* '' */
.icon-hdd:before { content: '\e953'; } /* '' */
.icon-key:before { content: '\e954'; } /* '' */
.icon-shekel:before { content: '\e955'; } /* '' */
.icon-try:before { content: '\e956'; } /* '' */
.icon-won:before { content: '\e957'; } /* '' */
.icon-bitcoin:before { content: '\e958'; } /* '' */
.icon-sort:before { content: '\e959'; } /* '' */
.icon-fork:before { content: '\e95a'; } /* '' */
.icon-rocket:before { content: '\e95b'; } /* '' */
.icon-bug:before { content: '\e95c'; } /* '' */
.icon-certificate:before { content: '\e95d'; } /* '' */
.icon-tasks:before { content: '\e95e'; } /* '' */
.icon-filter:before { content: '\e95f'; } /* '' */
.icon-beaker:before { content: '\e960'; } /* '' */
.icon-magic:before { content: '\e961'; } /* '' */
.icon-cab:before { content: '\e962'; } /* '' */
.icon-taxi:before { content: '\e963'; } /* '' */
.icon-truck:before { content: '\e964'; } /* '' */
.icon-bus:before { content: '\e965'; } /* '' */
.icon-bicycle:before { content: '\e966'; } /* '' */
.icon-money:before { content: '\e967'; } /* '' */
.icon-euro:before { content: '\e968'; } /* '' */
.icon-pound:before { content: '\e969'; } /* '' */
.icon-dollar:before { content: '\e96a'; } /* '' */
.icon-rupee:before { content: '\e96b'; } /* '' */
.icon-yen:before { content: '\e96c'; } /* '' */
.icon-rouble:before { content: '\e96d'; } /* '' */
.icon-sort-down:before { content: '\e96e'; } /* '' */
.icon-sort-up:before { content: '\e96f'; } /* '' */
.icon-sort-alt-up:before { content: '\e970'; } /* '' */
.icon-sort-alt-down:before { content: '\e971'; } /* '' */
.icon-sort-name-up:before { content: '\e972'; } /* '' */
.icon-sort-name-down:before { content: '\e973'; } /* '' */
.icon-sort-number-up:before { content: '\e974'; } /* '' */
.icon-sort-number-down:before { content: '\e975'; } /* '' */
.icon-hammer:before { content: '\e976'; } /* '' */
.icon-gauge:before { content: '\e977'; } /* '' */
.icon-sitemap:before { content: '\e978'; } /* '' */
.icon-spinner:before { content: '\e979'; } /* '' */
.icon-coffee:before { content: '\e97a'; } /* '' */
.icon-food:before { content: '\e97b'; } /* '' */
.icon-beer:before { content: '\e97c'; } /* '' */
.icon-user-md:before { content: '\e97d'; } /* '' */
.icon-stethoscope:before { content: '\e97e'; } /* '' */
.icon-ambulance:before { content: '\e97f'; } /* '' */
.icon-medkit:before { content: '\e980'; } /* '' */
.icon-h-sigh:before { content: '\e981'; } /* '' */
.icon-hospital:before { content: '\e982'; } /* '' */
.icon-building:before { content: '\e983'; } /* '' */
.icon-building-filled:before { content: '\e984'; } /* '' */
.icon-bank:before { content: '\e985'; } /* '' */
.icon-smile:before { content: '\e986'; } /* '' */
.icon-frown:before { content: '\e987'; } /* '' */
.icon-meh:before { content: '\e988'; } /* '' */
.icon-anchor:before { content: '\e989'; } /* '' */
.icon-terminal:before { content: '\e98a'; } /* '' */
.icon-eraser:before { content: '\e98b'; } /* '' */
.icon-puzzle:before { content: '\e98c'; } /* '' */
.icon-shield:before { content: '\e98d'; } /* '' */
.icon-extinguisher:before { content: '\e98e'; } /* '' */
.icon-bullseye:before { content: '\e98f'; } /* '' */
.icon-wheelchair:before { content: '\e990'; } /* '' */
.icon-language:before { content: '\e991'; } /* '' */
.icon-graduation-cap:before { content: '\e992'; } /* '' */
.icon-paw:before { content: '\e993'; } /* '' */
.icon-spoon:before { content: '\e994'; } /* '' */
.icon-cube:before { content: '\e995'; } /* '' */
.icon-cubes:before { content: '\e996'; } /* '' */
.icon-recycle:before { content: '\e997'; } /* '' */
.icon-tree:before { content: '\e998'; } /* '' */
.icon-database:before { content: '\e999'; } /* '' */
.icon-lifebuoy:before { content: '\e99a'; } /* '' */
.icon-rebel:before { content: '\e99b'; } /* '' */
.icon-empire:before { content: '\e99c'; } /* '' */
.icon-bomb:before { content: '\e99d'; } /* '' */
.icon-soccer-ball:before { content: '\e99e'; } /* '' */
.icon-tty:before { content: '\e99f'; } /* '' */
.icon-binoculars:before { content: '\e9a0'; } /* '' */
.icon-plug:before { content: '\e9a1'; } /* '' */
.icon-newspaper:before { content: '\e9a2'; } /* '' */
.icon-calc:before { content: '\e9a3'; } /* '' */
.icon-copyright:before { content: '\e9a4'; } /* '' */
.icon-at-1:before { content: '\e9a5'; } /* '' */
.icon-eyedropper:before { content: '\e9a6'; } /* '' */
.icon-brush:before { content: '\e9a7'; } /* '' */
.icon-birthday:before { content: '\e9a8'; } /* '' */
.icon-cc-visa:before { content: '\e9a9'; } /* '' */
.icon-cc-mastercard:before { content: '\e9aa'; } /* '' */
.icon-cc-discover:before { content: '\e9ab'; } /* '' */
.icon-cc-amex:before { content: '\e9ac'; } /* '' */
.icon-cc-paypal:before { content: '\e9ad'; } /* '' */
.icon-cc-stripe:before { content: '\e9ae'; } /* '' */
.icon-adn:before { content: '\e9af'; } /* '' */
.icon-android:before { content: '\e9b0'; } /* '' */
.icon-angellist:before { content: '\e9b1'; } /* '' */
.icon-apple:before { content: '\e9b2'; } /* '' */
.icon-behance:before { content: '\e9b3'; } /* '' */
.icon-behance-squared:before { content: '\e9b4'; } /* '' */
.icon-bitbucket:before { content: '\e9b5'; } /* '' */
.icon-bitbucket-squared:before { content: '\e9b6'; } /* '' */
.icon-cc:before { content: '\e9b7'; } /* '' */
.icon-codeopen:before { content: '\e9b8'; } /* '' */
.icon-css3:before { content: '\e9b9'; } /* '' */
.icon-delicious:before { content: '\e9ba'; } /* '' */
.icon-deviantart:before { content: '\e9bb'; } /* '' */
.icon-digg:before { content: '\e9bc'; } /* '' */
.icon-dribbble:before { content: '\e9bd'; } /* '' */
.icon-dropbox:before { content: '\e9be'; } /* '' */
.icon-drupal:before { content: '\e9bf'; } /* '' */
.icon-facebook:before { content: '\e9c0'; } /* '' */
.icon-facebook-squared:before { content: '\e9c1'; } /* '' */
.icon-flickr:before { content: '\e9c2'; } /* '' */
.icon-foursquare:before { content: '\e9c3'; } /* '' */
.icon-git-squared:before { content: '\e9c4'; } /* '' */
.icon-git:before { content: '\e9c5'; } /* '' */
.icon-github:before { content: '\e9c6'; } /* '' */
.icon-github-squared:before { content: '\e9c7'; } /* '' */
.icon-github-circled:before { content: '\e9c8'; } /* '' */
.icon-gittip:before { content: '\e9c9'; } /* '' */
.icon-google:before { content: '\e9ca'; } /* '' */
.icon-gplus:before { content: '\e9cb'; } /* '' */
.icon-gplus-squared:before { content: '\e9cc'; } /* '' */
.icon-gwallet:before { content: '\e9cd'; } /* '' */
.icon-hacker-news:before { content: '\e9ce'; } /* '' */
.icon-html5:before { content: '\e9cf'; } /* '' */
.icon-instagramm:before { content: '\e9d0'; } /* '' */
.icon-ioxhost:before { content: '\e9d1'; } /* '' */
.icon-joomla:before { content: '\e9d2'; } /* '' */
.icon-jsfiddle:before { content: '\e9d3'; } /* '' */
.icon-lastfm:before { content: '\e9d4'; } /* '' */
.icon-lastfm-squared:before { content: '\e9d5'; } /* '' */
.icon-linkedin-squared:before { content: '\e9d6'; } /* '' */
.icon-linux:before { content: '\e9d7'; } /* '' */
.icon-linkedin:before { content: '\e9d8'; } /* '' */
.icon-maxcdn:before { content: '\e9d9'; } /* '' */
.icon-meanpath:before { content: '\e9da'; } /* '' */
.icon-openid:before { content: '\e9db'; } /* '' */
.icon-pagelines:before { content: '\e9dc'; } /* '' */
.icon-paypal:before { content: '\e9dd'; } /* '' */
.icon-pied-piper-squared:before { content: '\e9de'; } /* '' */
.icon-pied-piper-alt:before { content: '\e9df'; } /* '' */
.icon-pinterest-circled:before { content: '\e9e0'; } /* '' */
.icon-pinterest-squared:before { content: '\e9e1'; } /* '' */
.icon-qq:before { content: '\e9e2'; } /* '' */
.icon-reddit:before { content: '\e9e3'; } /* '' */
.icon-reddit-squared:before { content: '\e9e4'; } /* '' */
.icon-renren:before { content: '\e9e5'; } /* '' */
.icon-skype:before { content: '\e9e6'; } /* '' */
.icon-slack:before { content: '\e9e7'; } /* '' */
.icon-slideshare:before { content: '\e9e8'; } /* '' */
.icon-soundcloud:before { content: '\e9e9'; } /* '' */
.icon-spotify:before { content: '\e9ea'; } /* '' */
.icon-stackexchange:before { content: '\e9eb'; } /* '' */
.icon-stackoverflow:before { content: '\e9ec'; } /* '' */
.icon-steam:before { content: '\e9ed'; } /* '' */
.icon-steam-squared:before { content: '\e9ee'; } /* '' */
.icon-stumbleupon:before { content: '\e9ef'; } /* '' */
.icon-stumbleupon-circled:before { content: '\e9f0'; } /* '' */
.icon-tencent-weibo:before { content: '\e9f1'; } /* '' */
.icon-trello:before { content: '\e9f2'; } /* '' */
.icon-tumblr:before { content: '\e9f3'; } /* '' */
.icon-tumblr-squared:before { content: '\e9f4'; } /* '' */
.icon-twitch:before { content: '\e9f5'; } /* '' */
.icon-twitter-squared:before { content: '\e9f6'; } /* '' */
.icon-twitter:before { content: '\e9f7'; } /* '' */
.icon-vimeo-squared:before { content: '\e9f8'; } /* '' */
.icon-vine:before { content: '\e9f9'; } /* '' */
.icon-vkontakte:before { content: '\e9fa'; } /* '' */
.icon-wechat:before { content: '\e9fb'; } /* '' */
.icon-weibo:before { content: '\e9fc'; } /* '' */
.icon-windows:before { content: '\e9fd'; } /* '' */
.icon-wordpress:before { content: '\e9fe'; } /* '' */
.icon-xing:before { content: '\e9ff'; } /* '' */
.icon-xing-squared:before { content: '\ea00'; } /* '' */
.icon-yelp:before { content: '\ea01'; } /* '' */
.icon-youtube:before { content: '\ea02'; } /* '' */
.icon-yahoo:before { content: '\ea03'; } /* '' */
.icon-youtube-squared:before { content: '\ea04'; } /* '' */
.icon-youtube-play:before { content: '\ea05'; } /* '' */
.icon-blank:before { content: '\ea06'; } /* '' */
.icon-lemon:before { content: '\ea07'; } /* '' */
.icon-fast-forward:before { content: '\ea08'; } /* '' */
.icon-forward:before { content: '\ea09'; } /* '' */
.icon-forward-circled:before { content: '\ea0a'; } /* '' */
.icon-step-backward:before { content: '\ea0b'; } /* '' */
.icon-step-forward:before { content: '\ea0c'; } /* '' */
.icon-play-1:before { content: '\ea0d'; } /* '' */
.icon-gift-1:before { content: '\ea0e'; } /* '' */
.icon-play-circled-1:before { content: '\ea0f'; } /* '' */
.icon-play-circled2-1:before { content: '\ea10'; } /* '' */
.icon-stop-1:before { content: '\ea11'; } /* '' */
.icon-pause-1:before { content: '\ea12'; } /* '' */
.icon-to-end:before { content: '\ea13'; } /* '' */
.icon-to-end-alt:before { content: '\ea14'; } /* '' */
.icon-to-start:before { content: '\ea15'; } /* '' */
.icon-to-start-alt:before { content: '\ea16'; } /* '' */
.icon-fast-fw:before { content: '\ea17'; } /* '' */
.icon-fast-bw:before { content: '\ea18'; } /* '' */
.icon-eject-1:before { content: '\ea19'; } /* '' */
.icon-off-1:before { content: '\ea1a'; } /* '' */
.icon-gift:before { content: '\ea1b'; } /* '' */
.icon-user-2:before { content: '\ea1c'; } /* '' */
.icon-group:before { content: '\ea1d'; } /* '' */
.icon-group-circled:before { content: '\ea1e'; } /* '' */
.icon-torso:before { content: '\ea1f'; } /* '' */
.icon-cancel-1:before { content: '\ea20'; } /* '' */
.icon-cancel-circled-1:before { content: '\ea21'; } /* '' */
.icon-cancel-circled2-1:before { content: '\ea22'; } /* '' */
.icon-plus-1:before { content: '\ea23'; } /* '' */
.icon-plus-circled-1:before { content: '\ea24'; } /* '' */
.icon-minus-1:before { content: '\ea25'; } /* '' */
.icon-minus-circled-1:before { content: '\ea26'; } /* '' */
.icon-eye-off-1:before { content: '\ea27'; } /* '' */
.icon-eye-2:before { content: '\ea28'; } /* '' */
.icon-cogs:before { content: '\ea29'; } /* '' */
.icon-cog-circled:before { content: '\ea2a'; } /* '' */
.icon-cog-1:before { content: '\ea2b'; } /* '' */
.icon-folder-1:before { content: '\ea2c'; } /* '' */
.icon-folder-circled:before { content: '\ea2d'; } /* '' */
.icon-folder-close:before { content: '\ea2e'; } /* '' */
.icon-folder-open-1:before { content: '\ea2f'; } /* '' */
.icon-comment-alt:before { content: '\ea30'; } /* '' */
.icon-comment-1:before { content: '\ea31'; } /* '' */
.icon-print-1:before { content: '\ea32'; } /* '' */
.icon-bell-1:before { content: '\ea33'; } /* '' */
.icon-rss-1:before { content: '\ea34'; } /* '' */
.icon-camera-2:before { content: '\ea35'; } /* '' */
.icon-compass-2:before { content: '\ea36'; } /* '' */
.icon-compass-circled:before { content: '\ea37'; } /* '' */
.icon-mic-1:before { content: '\ea38'; } /* '' */
.icon-flash-1:before { content: '\ea39'; } /* '' */
.icon-suitcase-1:before { content: '\ea3a'; } /* '' */
.icon-network:before { content: '\ea3b'; } /* '' */
.icon-globe-1:before { content: '\ea3c'; } /* '' */
.icon-light-up:before { content: '\ea3d'; } /* '' */
.icon-adjust:before { content: '\ea3e'; } /* '' */
.icon-light-down:before { content: '\ea3f'; } /* '' */
.icon-tools:before { content: '\ea40'; } /* '' */
.icon-cog-2:before { content: '\ea41'; } /* '' */
.icon-signal-2:before { content: '\ea42'; } /* '' */
.icon-battery:before { content: '\ea43'; } /* '' */
.icon-trophy:before { content: '\ea44'; } /* '' */
.icon-back-in-time:before { content: '\ea45'; } /* '' */
.icon-clock-1:before { content: '\ea46'; } /* '' */
.icon-mic-2:before { content: '\ea47'; } /* '' */
.icon-feather:before { content: '\ea48'; } /* '' */
.icon-archive:before { content: '\ea49'; } /* '' */
.icon-box-1:before { content: '\ea4a'; } /* '' */
.icon-user-3:before { content: '\ea4b'; } /* '' */
.icon-user-female:before { content: '\ea4c'; } /* '' */
.icon-user-male:before { content: '\ea4d'; } /* '' */
.icon-users-1:before { content: '\ea4e'; } /* '' */
.icon-user-add:before { content: '\ea4f'; } /* '' */
.icon-users-2:before { content: '\ea50'; } /* '' */
.icon-user-4:before { content: '\ea51'; } /* '' */
.icon-link-1:before { content: '\ea52'; } /* '' */
.icon-home:before { content: '\ea53'; } /* '' */
.icon-home-1:before { content: '\ea54'; } /* '' */
.icon-home-circled:before { content: '\ea55'; } /* '' */
.icon-home-2:before { content: '\ea56'; } /* '' */
.icon-home-3:before { content: '\ea57'; } /* '' */
.icon-home-4:before { content: '\ea58'; } /* '' */
.icon-mobile-1:before { content: '\ea59'; } /* '' */
.icon-megaphone-1:before { content: '\ea5a'; } /* '' */
.icon-mobile-2:before { content: '\ea5b'; } /* '' */
.icon-megaphone-2:before { content: '\ea5c'; } /* '' */
.icon-hash:before { content: '\ea5d'; } /* '' */
.icon-hash-1:before { content: '\ea5e'; } /* '' */
.icon-user-delete-outline:before { content: '\ea5f'; } /* '' */
.icon-user-delete:before { content: '\ea60'; } /* '' */
.icon-doc-remove:before { content: '\ea61'; } /* '' */
.icon-picture-1:before { content: '\ea62'; } /* '' */
.icon-tag:before { content: '\ea63'; } /* '' */
.icon-tags:before { content: '\ea64'; } /* '' */
.icon-bookmark:before { content: '\ea65'; } /* '' */
.icon-bookmark-empty:before { content: '\ea66'; } /* '' */
.icon-zoom-in:before { content: '\ea67'; } /* '' */
.icon-zoom-out:before { content: '\ea68'; } /* '' */
.icon-login:before { content: '\ea69'; } /* '' */
.icon-logout:before { content: '\ea6a'; } /* '' */
.icon-leaf-1:before { content: '\ea6b'; } /* '' */
.icon-paper-plane-1:before { content: '\ea6c'; } /* '' */
.icon-flight-1:before { content: '\ea6d'; } /* '' */
.icon-rocket-1:before { content: '\ea6e'; } /* '' */
.icon-key-1:before { content: '\ea6f'; } /* '' */
.icon-flow-cascade:before { content: '\ea70'; } /* '' */
.icon-flow-branch:before { content: '\ea71'; } /* '' */
.icon-flow-tree:before { content: '\ea72'; } /* '' */
.icon-flow-line:before { content: '\ea73'; } /* '' */
.icon-flow-parallel:before { content: '\ea74'; } /* '' */
.icon-infinity:before { content: '\ea75'; } /* '' */
.icon-erase:before { content: '\ea76'; } /* '' */
.icon-chart-area-1:before { content: '\ea77'; } /* '' */
.icon-chart-bar-1:before { content: '\ea78'; } /* '' */
.icon-chart-line-1:before { content: '\ea79'; } /* '' */
.icon-chart-pie-1:before { content: '\ea7a'; } /* '' */