/* mediumScreen States */
.mediumScreen .wMedium85{
	width:85%;
}

/* Sidebar Open */

/* Sidebar */
.sidebarOpen .navigationSidebar{
	transform: translate3d(0, 0, 0);
}

/* Layout */
.sidebarOpen #contentWrap{
	width: calc(100% - 280px);
}
