/* Custom Default theme for blotr */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,600,600italic,700,700italic,800italic,800);
@import url(https://fonts.googleapis.com/css?family=Hind:700,500);

body {
	overflow: hidden;
	background-color: #f6f8f7;
	font-family: 'Open Sans', sans-serif;
}
.layoutContainer {
	background-color: #f6f8f7;
}

.h1,.h2,.h3,.h4,.h5,.h6,.headerFont,
h1,h2,h3,h4,h5,h6{
	font-family: 'Hind', sans-serif;
}

/* Link Mods */

a {
	color: #5d7bf7;
}
a:hover {
	color: #f72f5e;
}

/* Sidebar Mods */

.navigationSidebar {
	width: 280px;
	max-width: 90%;
	background-color: #fff;
	transform: translate3d(-150%, 0, 0);
}
.navigationSidebar.flat {
	box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.02);
	text-shadow: 0 1px 0 #1a1e21;
	color: #f6f8f7;
	box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.02);
	background-color: #262b2f;
}
.navigationSidebar .sectionTitle{
	color:#777c7f;
	text-shadow: 0 1px 0 #1a1e21;
	padding: 18px 21px;
	cursor:default;
	font-size: 14px;
}
.navigationSidebar .sectionTitle .icon,
.navigationSidebar .navItem .icon{
	margin-right:10px;
}
.navigationSidebar .navItem{
	text-shadow: 0 1px 0 #000;
	color: #dce4e6;
	padding:13px 21px;
}
.navigationSidebar.hideLeft {
	transform: translate3d(-280px, 0, 0);
}
.navigationSidebar .navItem.hover {
	text-shadow: 0 1px 0 #1a1e21;
	color: #f6f8f7;
}
.navigationSidebar .navItem.hover.active {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.navigationSidebar .navItem.hover.active {
	background-color: transparent;
}
.navigationSidebar .navItem.hover.active:after {
	width: 100%;
	visibility: visible;
}
.navigationSidebar .navItem.hover.active:before {
	width: 0%;
}
.navigationSidebar .navItem.hover:before {
	background-color: #5d7bf7;
}
.navigationSidebar .navItem:before {
	bottom: 0px;
	content: " ";
	width: 5px;
	background-color: transparent;
	height: 100%;
	z-index: -1;
	position: absolute;
	right: 0px;
	top: auto;
	transition: all .2s ease;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	border-left: 1px solid rgba(255, 255, 255, 0);
	border-right: 1px solid rgba(255, 255, 255, 0);
}
.navigationSidebar .navItem:after {
	top: 0px;
	content: " ";
	width: 0%;
	background-color: #5d7bf7;
	height: 100%;
	z-index: -1;
	position: absolute;
	left: 0px;
	bottom: auto;
	transition: all .21s ease;
	visibility: hidden;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	border-left: 1px solid rgba(255, 255, 255, 0);
	border-right: 1px solid rgba(255, 255, 255, 0);
}

/* Navigationbar Mods */

.navigationBar {
	background-color: #fff;
}
.navigationBar.textNavigation .navItem {
	color: #727e7c;
}
.navigationBar.textNavigation .navItem.hover.active {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.navigationBar .navItem.hover.active:before {
	height: 100%;
}
.navigationBar .navItem.current {
	color: #040507;
}
.navigationBar .navItem.current:before {
	height: 3px;
	background-color: #f72f5e;
}
.navigationBar .navItem.hover:before {
	background-color: #303437;
}
.navigationBar .navItem:before {
	bottom: 0px;
	content: " ";
	width: 100%;
	background-color: transparent;
	height: 3px;
	z-index: -1;
	position: absolute;
	right: 0px;
	top: auto;
	transition: all .3s ease;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	border-left: 1px solid rgba(255, 255, 255, 0);
	border-right: 1px solid rgba(255, 255, 255, 0);
}
.navigationBar .navItem.hover:before {
	background-color: #5d7bf7;
}
.navigationBar.textNavigation .navItem.hover {
	color: #1a1e21;
}

/* layout mods */

#contentWrap {
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition: all 0.6s;
	left: auto;
	right: 0px;
}

/* shadows */

.shadowBox {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

/* gloss */
.gloss{
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.10)), color-stop(1, rgba(0, 0, 0, 0)));
}

/* layout mods with header blocks */

.withHeaderBlock .contentWrap {
	border-radius: 0px 0px 2px 2px;
	box-shadow: none;
}
.withHeaderBlock .headerBlock {
	border-radius: 2px 2px 0 0;
	position: relative;
}
.withHeaderBlock.withbuttonBlock .contentWrap {
	border-radius: 0px;
	margin-bottom: 0px;
}
.headerBlock {
	width: 100%;
	padding: 14px 25px 14px 25px;
	border-radius: 2px;
}
.buttonBlock {
	width: 100%;
	padding: 14px 25px 14px 25px;
	border-radius: 0 0 2px 2px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: 300;
}
.buttonBlock.active{
	box-shadow: inset 0 0px 15px rgba(0,0,0,0.2);
}
.headerBlock .title {
	margin: 0px;
	color: #fff;
}
.headerBlock .title i {
	margin-right: 10px;
}
.headerBlock .description {
	font-style: italic;
	font-weight: 400;
	display: block;
	padding-top: 8px;
}
.buttonBlock.blue, .headerBlock.blue {
	color: #fff;
	text-shadow: 0 1px 0 #506cd9;
	background-color: #5d7bf7;
}
.withHeaderBlock .headerBlock.blue {
	box-shadow: inset 0 -1px 0px #506cd9;
}
.buttonBlock.blue.hover{
	background-color: #506cd9;
}
.buttonBlock.red, .headerBlock.red {
	color: #fff;
	text-shadow: 0 1px 0 #df2151;
	background-color: #f72f5e;
}
.withHeaderBlock .headerBlock.red {
	box-shadow: inset 0 -1px 0px #df2151;
}

.buttonBlock.yellow, .headerBlock.yellow, .headerBlock.yellow .title {
	background-color: #262b2f;
	text-shadow: 0 1px 0 #1a1e21;
	color: #f1e017;
}

/* Text modes */

input[type='email'].error, input[type='text'].error, input[type='password'].error, input[type='url'].error, textarea.error {
	border-bottom-color: #df2151;
}

input[type='email'].valid, input[type='text'].valid, input[type='password'].valid, input[type='url'].valid, textarea.valid {
	border-bottom-color: #1abc9c;
}


/* Animations */
.fadeInDown {
	animation-duration:.3s;
	animation-fill-mode:forwards;
	animation-name:fadeInDown;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	backface-visibility:hidden;
}

@keyframes fadeInDown {
	0% {
		opacity:0;
		transform:translate3d(0,-100px,0);
	}
	50% {
		opacity:0.1;
		transform:translate3d(0,0px,0);
	}
	90% {
		opacity:0.9;
	}
	100% {
		opacity:1;
		transform:translate3d(0,0px,0);
	}
}
